<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section class="bannerHeight" style="background: url(<%= process.env.IMAGE_PATH %>images/case-banner-1.png) top no-repeat;">
      <div class="container h-100 d-flex align-items-center">
        <img loading="lazy" class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/case-banner-2.svg" alt="">
      </div>
    </section>
    <%= require('html-loader!../common/content-case.ejs') %>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
