<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=IUfwzByVAiIMGfXRLCDpGQctttlZmmIh"></script>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section class="bannerHeight" style="background:url(<%= process.env.IMAGE_PATH %>images/contact-banner.png) center no-repeat;background-size: cover;">
      <div class="container h-100 d-flex align-items-center">
        <img class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/contact-banner-2.svg" alt="">
      </div>
    </section>
    <section class="py-5" id="service-list">
      <div class="container">
        <nav aria-label="breadcrumb" class="small">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item"><a href="#">联系我们</a></li>
            <li class="breadcrumb-item active" aria-current="page">联系我们</li>
          </ol>
        </nav>
        <hr class="mb-5"/>
        <div class="row text-center">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="#" class="d-block p-4 border hover-unstyled hover-bg-primary">
              <div class="mb-4" style="min-height: 56px;">
                <img loading="lazy" class="hover-fade-out" src="<%= process.env.IMAGE_PATH %>icon/contact-icon-1.svg" alt="">
              </div>
              <div class="hover-translate-up">
                <p class="h5">电话</p>
                <div class="border-top border-primary mx-auto my-3" style="width: 24px;"></div>
                <p class="small text-gray">0755-83283839</p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="#" class="d-block p-4 border hover-unstyled hover-bg-primary">
              <div class="mb-4" style="min-height: 56px;">
                <img loading="lazy" class="hover-fade-out" src="<%= process.env.IMAGE_PATH %>icon/contact-icon-2.svg" alt="">
              </div>
              <div class="hover-translate-up">
                <p class="h5">传真</p>
                <div class="border-top border-primary mx-auto my-3" style="width: 24px;"></div>
                <p class="small text-gray">0755-83283836</p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="#" class="d-block p-4 border hover-unstyled hover-bg-primary">
              <div class="mb-4" style="min-height: 56px;">
                <img loading="lazy" class="hover-fade-out" src="<%= process.env.IMAGE_PATH %>icon/contact-icon-3.svg" alt="">
              </div>
              <div class="hover-translate-up">
                <p class="h5">邮箱</p>
                <div class="border-top border-primary mx-auto my-3" style="width: 24px;"></div>
                <p class="small text-gray">zongjingban@ruijianjt.com</p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="#" class="d-block p-4 border hover-unstyled hover-bg-primary">
              <div class="mb-4" style="min-height: 56px;">
                <img loading="lazy" class="hover-fade-out" src="<%= process.env.IMAGE_PATH %>icon/contact-icon-4.svg" alt="">
              </div>
              <div class="hover-translate-up">
                <p class="h5">地址</p>
                <div class="border-top border-primary mx-auto my-3" style="width: 24px;"></div>
                <p class="small text-gray">深圳市福田区上步中路工会大厦A座9018室</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div id="bd-map" style="height: 60vh;"></div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-lg-4">
        <div class="d-flex flex-column flex-lg-row mb-lg-5 mb-4 align-items-lg-end text-center text-lg-left">
          <p class="h5 mb-lg-0">联系我们</p>
          <p class="text-gray small mb-0">（如果您对我们有什么建议、投诉、需求，可以在此留言告诉我们，我们会在第一时间了解并及时与您联系。）​​​</p>
        </div>
        <%= require('html-loader!../common/content-contact-us.ejs') %>
      </div>
    </section>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
<script type="text/javascript">
var map = new BMapGL.Map("bd-map");
var point = new BMapGL.Point(114.102414,22.549747);
map.centerAndZoom(point, 15);
var opts = {
    width: 250,
    height: 100,
    title: "深圳市瑞建建设集团"
}
var infoWindow = new BMapGL.InfoWindow("深圳市福田区上步中路工会大厦A座9018室", opts);
map.openInfoWindow(infoWindow, map.getCenter());
var marker = new BMapGL.Marker(point);
map.addOverlay(marker);
</script>
