<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section class="bg-gray">
      <div id="slick-home-banner">
        <div class="py-5" style="background-image: url(<%= process.env.IMAGE_PATH %>images/home-banner-1.png);background-position: center;background-size: cover;height: 560px;max-height: 85vh;">
          <div class="container h-100">
            <div class="row no-gutters h-100 align-items-center text-uppercase text-white">
              <div class="col-lg-5">
                <div class="p-5 w-100" style="background: rgba(35, 41, 55, 0.9);max-width: 550px;">
                  <p>introduction</p>
                  <h4>深圳市瑞建建设集团有限公司​​​​</h4>
                  <div class="bg-white my-3" style="height: 1px;width: 36px;"></div>
                  <p>Shenzhen RuiJian Construction Group co., ltd</p>
                  <p class="small" style="line-height:2;">深圳市瑞建建设集团有限公司，创立于2008年， 注册资金10180万元。现任中国建筑装饰协会会员、 广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳市政府采购中心会员、“深圳知名品牌”企业。</p>
                  <a href="/about.html#about-nav-1-tab" class="btn btn-secondary">了解更多</a>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block">
                <div class="text-center">
                  <img loading="lazy" class="mx-auto" src="<%= process.env.IMAGE_PATH %>icon/num1.svg" alt="">
                  <p class="mt-3">architectural ornament</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5" style="background-image: url(<%= process.env.IMAGE_PATH %>images/home-banner-1.png);background-position: center;background-size: cover;height: 854px;max-height: 85vh;">
          <div class="container h-100">
            <div class="row no-gutters h-100 align-items-center text-uppercase text-white">
              <div class="col-lg-5">
                <div class="p-5 w-100" style="background: rgba(35, 41, 55, 0.9);max-width: 550px;">
                  <p>introduction</p>
                  <h4>深圳市瑞建建设集团有限公司​​​​</h4>
                  <div class="bg-white my-3" style="height: 1px;width: 36px;"></div>
                  <p>Shenzhen RuiJian Construction Group co., ltd</p>
                  <p class="small" style="line-height:2;">深圳市瑞建建设集团有限公司，创立于2008年， 注册资金10180万元。现任中国建筑装饰协会会员、 广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳市政府采购中心会员、“深圳知名品牌”企业。</p>
                  <a href="/about.html#about-nav-1-tab" class="btn btn-secondary">了解更多</a>
                </div>
              </div>
              <div class="col-lg-2 d-none d-lg-block">
                <div class="text-center">
                  <img loading="lazy" class="mx-auto" src="<%= process.env.IMAGE_PATH %>icon/num1.svg" alt="">
                  <p class="mt-3">architectural ornament</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 bg-gray">
      <div class="container py-lg-4">
        <h4>业务领域</h4>
        <p class="text-gray">Service Area</p>
        <hr/>
        <div id="slick-home-service" class="text-center mx-n2 overflow-hidden">
          <div class="px-2 py-3">
            <a href="/service.html#a1" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-1.svg" alt="">
              </div>
              <p>建筑装修装饰工程专业承包壹级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">architectural ornament</p>
            </a>
          </div>
          <div class="px-2 py-3">
            <a href="/service.html#a2" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-2.svg" alt="">
              </div>
              <p>建筑装饰工程设计专项甲级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">architectural ornament</p>
            </a>
          </div>
          <div class="px-2 py-3">
            <a href="/service.html#a3" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-3.svg" alt="">
              </div>
              <p>建筑幕墙工程专业承包壹级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">architectural ornament</p>
            </a>
          </div>
          <div class="px-2 py-3">
            <a href="/service.html#a4" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-4.svg" alt="">
              </div>
              <p>市政展陈工程设计与施工一体化壹级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">architectural ornament</p>
            </a>
          </div>
          <div class="px-2 py-3">
            <a href="/service.html#a5" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-7.svg" alt="">
              </div>
              <p>机电工程施工一体化壹级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">MECHATRONICS ENGINEERING</p>
            </a>
          </div>
          <div class="px-2 py-3">
            <a href="/service.html#a6" class="d-block bg-white px-lg-4 py-lg-5 p-3 hover-box-shadow transition hover-unstyled">
              <div class="mb-4">
                <img loading="lazy" class="mx-auto" style="height: 4rem;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-8.svg" alt="">
              </div>
              <p>钢结构工程设计与施工一体化壹级</p>
              <div class="mx-auto mb-2 border-top border-primary hover-fade-out" style="width:24px;"></div>
              <p class="small text-uppercase text-gray hover-translate-up">STRUCTURAL STEELWORK</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!../common/content-case.ejs') %>
    <section class="py-5 bg-gray">
      <div class="container py-lg-5">
        <div class="row no-gutters flex-lg-row flex-column position-relative">
          <div class="col-lg-3 position-static">
            <h4>关于瑞建</h4>
            <p class="text-gray text-uppercase mb-5">about ruijian</p>
            <div class="p-lg-5 p-3 position-lg-absolute w-100 text-center text-lg-left" style="background-color: rgba(34, 40, 54, 0.9);max-width: 680px;left:0;top:100px;">
              <nav>
                <div class="nav nav-tabs justify-content-center" id="home-about-nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="home-about-nav-1-tab" data-toggle="tab" href="#home-about-nav-1" role="tab" aria-controls="home-about-nav-1" aria-selected="true"><span>公司简介</span></a>
                  <a class="nav-item nav-link" id="home-about-nav-2-tab" data-toggle="tab" href="#home-about-nav-2" role="tab" aria-controls="home-about-nav-2" aria-selected="false"><span>企业资质</span></a>
                  <a class="nav-item nav-link" id="home-about-nav-3-tab" data-toggle="tab" href="#home-about-nav-3" role="tab" aria-controls="home-about-nav-3" aria-selected="false"><span>荣誉证书</span></a>
                  <a class="nav-item nav-link" id="home-about-nav-4-tab" data-toggle="tab" href="#home-about-nav-4" role="tab" aria-controls="home-about-nav-4" aria-selected="false"><span>组织架构</span></a>
                  <a class="nav-item nav-link" id="home-about-nav-5-tab" data-toggle="tab" href="#home-about-nav-5" role="tab" aria-controls="home-about-nav-5" aria-selected="false"><span>企业文化 </span></a>
                </div>
              </nav>
              <div class="tab-content py-3" id="home-about-nav-tabContent">
                <div class="tab-pane fade show active" id="home-about-nav-1" role="tabpanel" aria-labelledby="home-about-nav-1-tab">
                  <p class="small text-white mb-4 font-weight-light" style="line-height: 28px;">深圳市瑞建建设集团有限公司，创立于2008年，注册资金10180万元。现任中国建筑装饰协会会员、广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳政府采购中心会员、“深圳知名品牌”企业。瑞建集团以装饰为起点，不断创新发展，迅速成长为一家集建筑装饰工程设计、建筑工程、市政公用工程、装饰装修工程、建筑幕墙工程、消防设施工程、机电工程、钢结构工程、城市园林绿化等综合性、一体化的建设集团企业，</p>
                  <a href="/about.html#about-nav-1-tab" class="btn btn-secondary">了解更多</a>
                </div>
                <div class="tab-pane fade" id="home-about-nav-2" role="tabpanel" aria-labelledby="home-about-nav-2-tab">
                  <p class="small text-white mb-4 font-weight-light" style="line-height: 28px;">深圳市瑞建建设集团有限公司，创立于2008年，注册资金10180万元。现任中国建筑装饰协会会员、广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳政府采购中心会员、“深圳知名品牌”企业。瑞建集团以装饰为起点，不断创新发展，迅速成长为一家集建筑装饰工程设计、建筑工程、市政公用工程、装饰装修工程、建筑幕墙工程、消防设施工程、机电工程、钢结构工程、城市园林绿化等综合性、一体化的建设集团企业，</p>
                  <a href="/about.html#about-nav-2-tab" class="btn btn-secondary">了解更多</a>
                </div>
                <div class="tab-pane fade" id="home-about-nav-3" role="tabpanel" aria-labelledby="home-about-nav-3-tab">
                  <p class="small text-white mb-4 font-weight-light" style="line-height: 28px;">深圳市瑞建建设集团有限公司，创立于2008年，注册资金10180万元。现任中国建筑装饰协会会员、广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳政府采购中心会员、“深圳知名品牌”企业。瑞建集团以装饰为起点，不断创新发展，迅速成长为一家集建筑装饰工程设计、建筑工程、市政公用工程、装饰装修工程、建筑幕墙工程、消防设施工程、机电工程、钢结构工程、城市园林绿化等综合性、一体化的建设集团企业，</p>
                  <a href="/about.html#about-nav-3-tab" class="btn btn-secondary">了解更多</a>
                </div>
                <div class="tab-pane fade" id="home-about-nav-4" role="tabpanel" aria-labelledby="home-about-nav-4-tab">
                  <p class="small text-white mb-4 font-weight-light" style="line-height: 28px;">深圳市瑞建建设集团有限公司，创立于2008年，注册资金10180万元。现任中国建筑装饰协会会员、广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳政府采购中心会员、“深圳知名品牌”企业。瑞建集团以装饰为起点，不断创新发展，迅速成长为一家集建筑装饰工程设计、建筑工程、市政公用工程、装饰装修工程、建筑幕墙工程、消防设施工程、机电工程、钢结构工程、城市园林绿化等综合性、一体化的建设集团企业，</p>
                  <a href="/about.html#about-nav-4-tab" class="btn btn-secondary">了解更多</a>
                </div>
                <div class="tab-pane fade" id="home-about-nav-5" role="tabpanel" aria-labelledby="home-about-nav-5-tab">
                  <p class="small text-white mb-4 font-weight-light" style="line-height: 28px;">深圳市瑞建建设集团有限公司，创立于2008年，注册资金10180万元。现任中国建筑装饰协会会员、广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳政府采购中心会员、“深圳知名品牌”企业。瑞建集团以装饰为起点，不断创新发展，迅速成长为一家集建筑装饰工程设计、建筑工程、市政公用工程、装饰装修工程、建筑幕墙工程、消防设施工程、机电工程、钢结构工程、城市园林绿化等综合性、一体化的建设集团企业，</p>
                  <a href="/about.html#about-nav-5-tab" class="btn btn-secondary">了解更多</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 position-static">
            <img loading="lazy" class="img-fluid" src="<%= process.env.IMAGE_PATH %>images/home-image-9.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="news" class="py-5">
      <div class="container py-lg-5">
        <h4>最新资讯</h4>
        <p class="text-gray mb-5 text-uppercase">architectural ornament</p>
        <%= require('html-loader!../common/content-news.ejs') %>
      </div>
    </section>
    <section id="team" class="py-5 bg-primary text-center">
      <div class="container py-lg-5">
        <div class="position-relative mb-5" style="background:url(<%= process.env.IMAGE_PATH %>icon/team-white.svg) top no-repeat;background-size: contain;">
          <div class="position-absolute w-100" style="left0;top:50%;border-top: 1px solid rgba(255, 255, 255, 0.1);"></div>
          <div class="d-flex justify-content-around align-items-center position-relative">
            <div class="d-none d-lg-block">
              <img loading="lazy" style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-5.svg" alt="">
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div>
              <h4 class="text-white">团队概况</h4>
              <p class="text-gray mb-0">OUR DESIGN TEAM</p>
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div class="d-none d-lg-block">
              <img loading="lazy" style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-6.svg" alt="">
            </div>
          </div>
        </div>
        <%= require('html-loader!../common/content-team.ejs') %>
      </div>
    </section>
    <section class="py-5 bg-gray text-center">
      <div class="container py-lg-5" style="max-width: 960px;">
        <div class="bg-white p-5">
          <h4>联系我们</h4>
          <p class="text-gray mb-5">contact us</p>
          <%= require('html-loader!../common/content-contact-us.ejs') %>
        </div>
      </div>
    </section>

    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>

<script type="text/javascript">
  $('#slick-home-banner').slick({
    prevArrow: '<button type="button" class="slick-prev"><img loading="lazy" src="<%= process.env.IMAGE_PATH %>icon/slick-left.svg"/></button>',
    nextArrow: '<button type="button" class="slick-next"><img loading="lazy" src="<%= process.env.IMAGE_PATH %>icon/slick-right.svg"/></button>',
    dots: true,
    autoplay: true,
    fade: true,
    autoplaySpeed: 5000
  })
  $('#slick-home-service').slick({
    autoplay: true,
    slidesToShow: 4,
    dots: true,
    arrows: false,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          arrows: false,
          slidesToShow: 1
        }
      }
    ]
  })
</script>
