<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section id="team" class="py-5 bg-gray text-center">
      <div class="container py-lg-5">
        <div class="position-relative mb-5" style="background:url(<%= process.env.IMAGE_PATH %>icon/team-gray.svg) top no-repeat;background-size: contain;">
          <div class="position-absolute w-100" style="left0;top:50%;border-top: 1px solid #d5d5d5;"></div>
          <div class="d-flex justify-content-around align-items-center position-relative">
            <div class="d-none d-lg-block">
              <img loading="lazy" style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-5.svg" alt="">
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div>
              <h4 class="text-white">团队成员</h4>
              <p class="text-gray mb-0">OUR DESIGN TEAM</p>
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div class="d-none d-lg-block">
              <img loading="lazy" style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-6.svg" alt="">
            </div>
          </div>
        </div>
        <%= require('html-loader!../common/content-team.ejs') %>
      </div>
    </section>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
