<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section id="team" class="py-5 bg-gray text-center">
      <div class="container-fluid py-lg-5">
        <div class="position-relative mb-5" style="background:url(<%= process.env.IMAGE_PATH %>icon/team-gray.svg) top no-repeat;background-size: contain;">
          <div class="position-absolute w-100" style="left0;top:50%;border-top: 1px solid #d5d5d5;"></div>
          <div class="d-flex justify-content-around align-items-center position-relative">
            <div class="d-none d-lg-block">
              <img style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-5.svg" alt="">
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div>
              <h4 class="text-white">团队成员</h4>
              <p class="text-gray mb-0">OUR DESIGN TEAM</p>
            </div>
            <div class="bg-secondary rounded-circle" style="width:24px;height:24px;"></div>
            <div class="d-none d-lg-block">
              <img style="margin-top: 10px;" src="<%= process.env.IMAGE_PATH %>icon/home-icon-6.svg" alt="">
            </div>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-lg-3 col-md-6 py-3">
            <div class="bg-white p-lg-5 p-4">
              <p class="countup mb-4">128</p>
              <p class="h5">一级建造师</p>
              <div class="mx-auto border-top border-primary my-4" style="width:50px;"></div>
              <p class="small mb-5 text-muted" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。</p>
              <a href="#" class="btn btn-sm btn-outline-primary">
                <img src="<%= process.env.IMAGE_PATH %>icon/add.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <div class="bg-white p-lg-5 p-4">
              <p class="countup mb-4">56</p>
              <p class="h5">中级工程师</p>
              <div class="mx-auto border-top border-primary my-4" style="width:50px;"></div>
              <p class="small mb-5 text-muted" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。</p>
              <a href="#" class="btn btn-sm btn-outline-primary">
                <img src="<%= process.env.IMAGE_PATH %>icon/add.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <div class="bg-white p-lg-5 p-4">
              <p class="countup mb-4">48</p>
              <p class="h5">高级工程师</p>
              <div class="mx-auto border-top border-primary my-4" style="width:50px;"></div>
              <p class="small mb-5 text-muted" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。</p>
              <a href="#" class="btn btn-sm btn-outline-primary">
                <img src="<%= process.env.IMAGE_PATH %>icon/add.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <div class="bg-white p-lg-5 p-4">
              <p class="countup mb-4">256</p>
              <p class="h5">成功案例</p>
              <div class="mx-auto border-top border-primary my-4" style="width:50px;"></div>
              <p class="small mb-5 text-muted" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。</p>
              <a href="#" class="btn btn-sm btn-outline-primary">
                <img src="<%= process.env.IMAGE_PATH %>icon/add.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
